{% extends "layout.html" %}
{% block content %}
<div class="row" style="padding-top: 40px; padding-bottom: 40px;">
  <img class="img-fluid" src="{{ url_for('static', filename='img/ofodio_video.png') }}" alt="" width="300px">
  <div class="col-lg-8 mx-auto">
    <h2>Ofodio</h2>
    <p class="lead">
      This is a video platform for storing and watching movies, for using in local network or where you want.
    </p>
    <ul>
      <li>first</li>
      <li>second</li>
      <li>third</li>
      <li>fourth</li>
    </ul>
  </div>
</div>
{% endblock content %}